<launch>
    <!-- Parametrer les machines-->
    <machine 
        name='remote' 
        address='192.168.1.11'
        user='$(env USER)'
        env-loader='$~/UNIVERSITÉ/rufus_ws/src/S4H2022_RufUS/BASE/ros_package/base_master/launch/base_remote.sh'
        default='false'
    />

    <!-- Inclure le fichier .launch pour la manette et teleop-->
    <include file="$(find base_joy)/launch/base_joy.launch" />

</launch>