<launch>
    <!-- Inclure le fichier .launch pour la manette-->
    <include file="$(find base_joy)/launch/base_joy.launch" />

    <!--Lancer la communication série avec l'arduino-->
    <node name="arduino_serial" pkg="rosserial_python" type="serial_node.py">
    <param name="port" value="/dev/ttyACM0"/>
    </node>

    <!--Lancer le noeud de controle-->
    <node name="base_control" pkg="base_control" type="base_control_node.py"/>

</launch>