<launch>
    <!-- Parametrer les machines-->
    <machine 
        name='rufus' 
        address='10.244.35.87'
        user='jetson'
        env-loader='/home/$(env USER)/rufus_ws/src/rufus_master'
        default='true'
    />


    <!--Lancer la communication série avec l'arduino-->
    <node name="arduino_serial" pkg="rosserial_python" type="serial_node.py">
    <param name="port" value="/dev/ttyACM0"/>
    </node>

    <!--Lancer le noeud de controle-->
    <node name="base_control" pkg="rufus_master" type="base_control_node.py"/>
    <node name="StereoCam" pkg="stereocamera" type="BallStereoDetection.py" respawn="true"/>


</launch>
