<launch>
    <!-- Parametrer les machines-->
    <machine 
        name='rufus' 
        address='localhost'
        user='jetson'
        env-loader='/home/$(env USER)/rufus_ws/src/rufus_master'
        default='true'
    />


    <!-- Inclure le fichier .launch pour le contrôle-->
    <include file="$(find base_control)/launch/base_control.launch" />

</launch>